@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply rounded-md px-4 py-2 shadow-md transition-shadow hover:opacity-80 hover:shadow-lg;
  }
  .btn-primary {
    @apply bg-blue-600 text-white;
  }
  .btn-secondary {
    @apply bg-gray-200 text-gray-800;
  }
  .btn-add {
    @apply bg-green-600 text-white;
  }
  .btn-danger {
    @apply bg-red-600 text-white;
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
